.card {
  width: 305px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 39px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.card__photo_container {
  width: 100%;
  height: 320px;
  aspect-ratio: auto;
  overflow: hidden;
}

.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2S;
}

.card__bottom_container {
  height: 100%;
  flex-shrink: 10;
}

.card__bottom {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  height: 100%;
}

.card:hover .card__photo {
  transform: scale(1.2);
}

.card__title {
  margin: 0;
  font-size: 24px;
}

.card__description {
  margin: 0;
  opacity: 0.5;
  font-size: 16px;
  flex-grow: 1;
}

.card__types {
  display: inline-flex;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 81px;
}

.card__type {
  padding: 17px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: rgb(60, 60, 60);
  transition: background-color 0.2s;
  border-radius: 81px;
}

.card__type:hover {
  background-color: rgb(237, 237, 237);
}

.card__order {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.card__price {
  color: rgb(0, 0, 0);
  font-size: var(--bigFontSize);
  font-weight: 800;
  white-space: nowrap;
}

@media (max-width: 1340px) { 
  .card {
    flex: 0 0 calc(33.333% - (20px * 2 / 3));
  }
}

@media (max-width: 799px) { 
  .card {
    flex: 0 0 calc(50% - (20px * 2 / 3));
  }
}

@media (max-width: 576px) { 
  .card {
    flex: 1 0 calc(50% - (20px * 2 / 3));
  }

  .card__photo_container {
    height: 200px;
  }

  .card__title {
    font-size: var(--standartFontSize);
  }

  .card__description {
    font-size: var(--smallFontSize);
  }

  .card__type {
    padding: 8px;
    font-size: calc(var(--smallFontSize) - 6px);
  }

  .card__price {
    font-size: var(--standartFontSize);
  }

  .card__order {
    flex-wrap: wrap;
  }
}